.root {
    height: 100vh;
}

.main {
    display: block;
    min-height: 100%;
    width: 100%;
    background-color: black;
    padding: 30px 10%;
    
    .bio {
        margin: auto;
        background-color: transparent;
        position: absolute;
        top: 45%;
        left: 0;

        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        color: white;
        animation: disableBioContainer 5ms 5s both;

        .bio-item {
            font-size: 25px;
            margin-right: 10px;

            &#engineer {
                animation: bioAnimation 1s forwards, bioAnimation 1s 3.5s reverse forwards;
            }

            &#writer {
                animation: bioAnimation 1s 0.5s both, strikethroughAnimation 1s 2.4s both, bioAnimation 1s 3.7s reverse forwards;
            }

            &#speaker {
                animation: bioAnimation 1s 1s both, strikethroughAnimation 1s 2.8s both, bioAnimation 1s 3.9s reverse forwards;
            }

            &#gamer {
                animation: bioAnimation 1s 1.5s both, bioAnimation 1s 4.1s reverse forwards;
            }
        }
    }

    @keyframes disableBioContainer {
        from { display: flex; z-index: 9; }
        to { display: none; z-index: -9; }
    }

    @keyframes bioAnimation {
        from { opacity: 0; transform: translateY(10px); }
        to { opacity: 1; transform: translateY(0); }
    }

    @keyframes strikethroughAnimation {
        from { text-decoration-line: none; }
        to { text-decoration-line: line-through; }
    }
}

@media(max-width: 768px) {
    .main {
        .bio {
            flex-direction: column;
            top: 40%;
        }

        @keyframes bioAnimation {
            from { opacity: 0; transform: translateX(50px); }
            to { opacity: 1; transform: translateX(0); }
        }
    }
}