/*
  Global App CSS
  ----------------------
  Use this file for styles that should be applied to all components.
  For example, "font-family" within the "body" selector is a CSS property
  most apps will want applied to all components.

  Any global CSS variables should also be applied here.
*/

:root {
  --v2-foreground: #1db954;
  --v2-foreground-dim: #1db9548f;
  --v2-foreground-dim-alt: rgba(29, 185, 84, 0.2);
  --v2-foreground-dim-ultra: rgba(29, 185, 84, 0.2);
  --v2-foreground-transp: rgba(211, 211, 211, 0.3);
  --v2-glass: rgba(12, 12, 12, 0.7);
}

@font-face {
  font-family: 'Tiempos';
  font-display: fallback;
	src: url(../assets/fonts/TiemposHeadline-Semibold.otf);
}

@font-face {
  font-family: 'LeagueSpartan';
  font-display: fallback;
	src: url(../assets/v2/fonts/LeagueSpartan-Bold.otf);
}

@font-face {
	font-family: 'Graphik';
  font-display: fallback;
	src: url(../assets/fonts/Graphik-Regular.woff2);
}