@media (min-width: 760px) {
  .row > .col-md-4 {
    border-right: solid 1px black;
    margin-top: -1em !important;
    margin-bottom: -5em !important;
    padding: 0;
  }
}

.img {
  max-height: 100%;
  max-width: 100%;
  padding: 0 !important;
  margin: auto;
}

#img2 {
  padding-left: 0.1em;
  filter: grayscale(100%);
  opacity: 0.8;
  transition-property: all;
  transition: ease;
  transition-duration: 1s;
}

#img2:hover {
 filter: none;
 opacity: 1;
}

.inline {
  text-align: center;
}
