footer ul li, footer h6 {
  display: inline;
}

footer {
  border-top: 1px black solid;
  margin-top: 5em;
}

ul.text-small #git:hover {
  color: black !important;
}

#tweet:hover {
  color: #1da1f2 !important;
}
