footer ul li, footer h6 {
  display: inline;
}

footer {
  border-top: 1px black solid;
  margin-top: 5em;
}

#tweet:hover {
  color: #1da1f2 !important;
}

.btn-block button {
  float: right !important;
}

.icon {
  max-width: 20px !important;
  min-width: 20px !important;
}
