.hero-flex {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: auto;
    margin: 32px 0 0 0;

    .name-image {
        height: auto;
        width: 70%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;

        .hero-name-sm {
            font-size: 40px;
            text-align: center;
            font-weight: 700;
            color: white;
            display: none;

            margin: 0 auto -160px auto;
            z-index: 9;
            padding-top: 100px;
            animation: name 1s 7.5s both;
        }

        .hero-name {
            margin: 70px 0 0 0;
            color: white;
            font-size: 100px;
            font-weight: 700;
            animation: nameImage 1s 7.5s both, name 1s 7.5s both;
        }

        img {
            margin-left: -50px;
            animation: nameImage 1s 7s both, image 1s 7s both;
        }
    }

    .introduction {
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        width: 30%;
        padding: 0 16px;
        height: inherit;

        .intro-title {
            color: var(--v2-foreground);
            font-size: 12px;
            font-weight: 700;
            text-transform: uppercase;
            animation: intro 1s 7s both;

            span {
                margin-right: 8px;
            }
        }

        .intro-location {
            margin: 16px 0 0 0;
            color: white;
            font-size: 24px;
            font-weight: 600;
            line-height: 1.4;
            animation: intro 1s 7.5s both;
        }

        .intro-summary {
            margin: 16px 0 0 0;
            font-size: 12px;
            color: lightgrey;
            animation: intro 1s 8s both;

            .emphasis {
                color: var(--v2-foreground);
                font-weight: 600;
            }
        }

        .intro-email {
            margin: 16px 0 0 0;
            font-size: 12px;
            animation: intro 1s 8.5s both;
            color: var(--v2-foreground);
            a {
                color: inherit !important;
            }
        }

        @keyframes intro {
            from { display: none; transform: translateX(10px); opacity: 0; }
            to { display: block; transform: translateX(0); opacity: 1; }
        }
    }

    @keyframes nameImage {
        from { display: none; transform: translateX(-20px); opacity: 0; }
        to { display: block; transform: translateX(0); opacity: 1; }
    }

    @keyframes image {
        from { transform: translateY(70px); }
        to { transform: translateY(0); }
    }

    @keyframes name {
        from { margin: 70px 0 0 0; }
        to { margin: 70px -90px 0 70px;}
    }
}

@media(max-width: 768px) {
    .hero-flex {
        flex-direction: column;
        .name-image, .introduction {
            width: 100%;
        }
        .introduction {
            padding: 0;
            margin: 32px 0 0 0;
        }
        .name-image {
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            img {
                max-width: 80%;
                max-height: 80%;
                display: block;
                margin: auto;
                animation: nameImage 1s 7s both;
            }

            .hero-name-sm {
                display: block;
            }

            .hero-name {
                display: none;
            }

            @keyframes name {
                from { display: none; transform: translateY(-20px); opacity: 0; }
                to { display: block; transform: translateY(0); opacity: 1; }
            }
        }
    }
}