.bg-transparent {
  background: rgba(0, 0, 0, 0);
}

#title1 {
  display: none;
}

#title {
  display: block;
}

@media(max-width: 768px) {
  #title1 {
    display: block;
  }
  #title {
    display: none;
  }
}

.bold, a {
  font-weight: 600;
}

#nav {
  border-bottom: 1px solid var(--border);
}

a:hover{
  text-decoration: none !important;
}
