.icon {
  max-width: 30px !important;
  min-width: 30px !important;
}

.fab {
  font-size: 35px;
  color: black !important;
}

.card {
  border-radius: 0 !important;
  border: 1px black solid !important;
}

.bold {
  font-weight: 600;
}

.black {
  color: black !important;
}

.ud {
  text-decoration-line: underline;
  transition-property: all;
  transition: all;
  transition-duration: 1s;
}

#intro {
  font-family: 'Tiempos' !important;
}

span.ud:hover {
  background-color: goldenrod;
  padding: 0.2em;
  text-decoration-line: none;
}

a {
  transition-property: all;
  transition: all;
  transition-duration: 1s;
}

a:hover {
  color: goldenrod !important;
}
